Repository bcgov/citz-imb-salary-estimate-tool, pull requests merged in 2023-12, with the labels that each got.

#167 [SET-70] Admin Data Endpoint
  api/controllers/admin-data-controller.ts
  api/express.ts
  api/routes/admin-data-router.ts
  api/routes/index.ts
Labels: Backend

#168 [SET-76]
  api/.docker/Dockerfile.dev
  api/prisma/data.mjs
  api/prisma/migrations/20231208175512_/migration.sql
  api/prisma/schema.prisma
Labels: Backend

#169 [SET-74] Refactor Pages
  frontend/.eslintrc.cjs
  frontend/src/App.tsx
  frontend/src/components/index.ts
  frontend/src/components/table/InquiryTableContainer.tsx
  frontend/src/components/table/UserTableContainer.tsx
  frontend/src/components/tabs/CustomTabPanel.tsx
  frontend/src/pages/Admin.tsx
  frontend/src/pages/Home.test.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Inquiry.test.tsx
  frontend/src/pages/Login.test.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/index.ts
  frontend/src/routes/PageRouter.tsx
Labels: Frontend

#170 [SET-77] Schema Rework
  api/controllers/admin-data-controller.ts
  api/prisma/data.mjs
  api/prisma/migrations/20231211213104_/migration.sql
  api/prisma/schema.prisma
  api/routes/admin-data-router.ts
Labels: Backend

#171 [SET-77] Added definition to salary ranges
  api/prisma/data.mjs
  api/prisma/migrations/20231211222502_/migration.sql
  api/prisma/schema.prisma
Labels: Backend

#175 Set-63-add-update-inquiry-functionality
  api/prisma/data.mjs
  frontend/package.json
  frontend/src/components/buttons/CloseButton/CloseButton.tsx
  frontend/src/components/buttons/EditButton/EditButton.tsx
  frontend/src/components/buttons/SubmitCancelButton/SubmitCancelButton.tsx
  frontend/src/components/buttons/ViewButton/ViewButton.tsx
  frontend/src/components/buttons/index.ts
  frontend/src/components/dialogs/NewFormDialog/NewForm.Dialog.tsx
  frontend/src/components/dialogs/NewInquiryDialog/NewInquiryDialog.tsx
  frontend/src/components/dialogs/UpdateFormDialog/UpdateForm.Dialog.tsx
  frontend/src/components/dialogs/ViewFormDialog/ViewForm.Dialog.tsx
  frontend/src/components/dialogs/index.ts
  frontend/src/components/fields/CurrencyField/CurrencyField.tsx
  frontend/src/components/fields/DateField/DateField.tsx
  frontend/src/components/fields/Field/Field.tsx
  frontend/src/components/fields/MultilineField/MultilineField.tsx
  frontend/src/components/fields/NumberField/NumberField.tsx
  frontend/src/components/fields/SelectField/SelectField.tsx
  frontend/src/components/fields/StatusField/StatusField.tsx
  frontend/src/components/fields/TextField/TextField.tsx
  frontend/src/components/forms/Form.tsx
  frontend/src/components/forms/FormSection/FormSection.tsx
  frontend/src/components/forms/InquiryForm/InquiryForm.tsx
  frontend/src/components/forms/form.d.ts
  frontend/src/components/forms/index.ts
  frontend/src/components/index.ts
  frontend/src/components/loading/index.ts
  frontend/src/components/stepper/StatusStepper.tsx
  frontend/src/components/table/InquiryTableContainer/InquiryTableContainer.tsx
  frontend/src/components/table/TableContainer/TableContainer.tsx
  frontend/src/components/tablecells/index.ts
  frontend/src/hooks/useAPI/useAPI.ts
  frontend/src/hooks/useDataFactory/useData.Factory.ts
  frontend/src/hooks/useFormFactory/useForm.Factory.tsx
  frontend/src/hooks/useInquiry/inquiry.fields.tsx
  frontend/src/hooks/useInquiry/inquiry.sections.tsx
  frontend/src/hooks/useInquiry/useInquiry.ts
Labels: Backend, Frontend

#176 Set-62-Add-Delete-Record-for-Inquiries
  frontend/src/components/buttons/ConfirmCancelButton/ConfirmCancelButton.tsx
  frontend/src/components/buttons/DeleteRowButton/DeleteRowButton.tsx
  frontend/src/components/buttons/index.ts
  frontend/src/components/dialogs/DeleteConfirmationDialog/DeleteConfirmationDialog.tsx
  frontend/src/components/dialogs/index.ts
  frontend/src/components/forms/form.d.ts
  frontend/src/components/table/InquiryTableContainer/InquiryTableContainer.tsx
  frontend/src/components/table/TableContainer/TableContainer.tsx
  frontend/src/hooks/useAPI/useAPI.ts
  frontend/src/hooks/useDataFactory/useData.Factory.ts
  frontend/src/hooks/useFormFactory/useForm.Factory.tsx
  frontend/src/hooks/useInquiry/useInquiry.ts
Labels: Frontend

#177 Set-78-Refactor-table-containers-to-table-factory
  frontend/src/components/index.ts
  frontend/src/components/table/InquiryTableContainer/InquiryTableContainer.tsx
  frontend/src/components/table/TableContainer/TableContainer.tsx
  frontend/src/components/table/UserTableContainer/UserTableContainer.tsx
  frontend/src/hooks/useFormFactory/useForm.Factory.tsx
  frontend/src/hooks/useInquiry/useInquiry.ts
  frontend/src/hooks/useTableFactory/useTable.Factory.tsx
  frontend/src/hooks/useUser/useUser.ts
  frontend/src/pages/Home/Home.tsx
Labels: Frontend

#178 [SET-57] Protect Routes
  .env.template
  api/express.ts
  api/package.json
  frontend/package.json
  frontend/src/hooks/useAPI/useAPI.ts
Labels: Backend, Frontend, Environment Variables

#179 Set-79-refactor-factory-architecture
  frontend/src/components/forms/form.d.ts
  frontend/src/hooks/useDataFactory/onAppendMutation.ts
  frontend/src/hooks/useDataFactory/onDeleteMutation.ts
  frontend/src/hooks/useDataFactory/onError.ts
  frontend/src/hooks/useDataFactory/onSettled.ts
  frontend/src/hooks/useDataFactory/onUpdateMutation.ts
  frontend/src/hooks/useDataFactory/useData.Factory.test.ts
  frontend/src/hooks/useDataFactory/useData.Factory.ts
  frontend/src/hooks/useFormFactory/useForm.Factory.tsx
  frontend/src/hooks/useInquiry/useInquiry.ts
  frontend/src/hooks/useTableFactory/useTable.Factory.tsx
  frontend/src/hooks/useUser/useUser.ts
Labels: Frontend

#180 Set-81-fix-update-linting-error
  frontend/src/components/fields/CurrencyField/CurrencyField.tsx
  frontend/src/components/fields/MultilineField/MultilineField.tsx
  frontend/src/components/fields/NumberField/NumberField.tsx
  frontend/src/components/fields/SelectField/SelectField.tsx
  frontend/src/components/fields/TextField/TextField.tsx
  frontend/src/hooks/useDataFactory/useData.Factory.ts
Labels: Frontend

#181 Set-82-fix-build-errors
  frontend/src/components/fields/DateField/DateField.tsx
  frontend/src/components/fields/Field/Field.tsx
  frontend/src/components/fields/index.ts
  frontend/src/hooks/useInquiry/useInquiry.test.ts
  frontend/src/hooks/useUser/useUsers.test.ts
Labels: Frontend
