Repository bcgov/citz-imb-salary-estimate-tool, pull requests merged in 2023-10, with the labels that each got.

#22 SET-137: Add auto assign for PR author
  .github/auto-assign-config.yaml
  .github/workflows/pr-auto-assign.yaml
Labels: GitHub Actions

#24 SET-134: Remove db env file path quotations
  docker-compose.dev.yaml
  frontend/src/App.tsx
Labels: Frontend

#27 SET-134: Create an api/.env file in the frontend workflow.
  .github/workflows/pr-image-build-app.yaml
Labels: GitHub Actions

#32 SET-134: Comment for .env creation for FE image build.
  .github/workflows/pr-image-build-app.yaml
Labels: GitHub Actions

#36 SET-134: Fix docker push & tag urls for FE & API build-deploys.
  .github/workflows/api-build-deploy.yaml
  .github/workflows/app-build-deploy.yaml
Labels: GitHub Actions

#40 SET-143: Re-add .env step for frontend build-deploy action.
  .env.template
  .github/workflows/api-build-deploy.yaml
  .github/workflows/app-build-deploy.yaml
  .github/workflows/pr-image-build-api.yaml
  .github/workflows/pr-image-build-app.yaml
  docker-compose.dev.yaml
Labels: GitHub Actions, Environment Variables

#41 SET-143: Deployment configs
  .github/workflows/api-build-deploy.yaml
  .github/workflows/app-build-deploy.yaml
Labels: GitHub Actions

#42 SET-143: Correct the image tag names.
  .github/workflows/api-build-deploy.yaml
  .github/workflows/app-build-deploy.yaml
Labels: GitHub Actions

#43 SET-143: Gut check
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#44 SET-143: Deployment configs
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#46 Update api-build-deploy.yaml
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#47 Update api-build-deploy.yaml
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#45 [Set-135] ESlint and Prettier - Frontend
  frontend/.eslintrc.cjs
  frontend/.prettierrc.cjs
  frontend/index.html
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tsconfig.json
Labels: Frontend

#51 SET-143: Fix casing for deploy.sh
  .github/helpers/deploy.sh
Labels: GitHub Actions

#52 SET-143: Remove unknown parameter from deploy script
  .github/helpers/deploy.sh
Labels: GitHub Actions

#53 SET-143: Change namespace for template.
  .github/helpers/deploy.sh
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#56 SET-143: Hard code deploy params to check correctness.
  .github/helpers/deploy.sh
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#55 [Set-145] Api Refactor
  .gitignore
  api/app.js
  api/bin/www
  api/config/corsConfig.ts
  api/config/index.ts
  api/config/rateLimitConfig.ts
  api/config/swaggerConfig.ts
  api/controllers/health-controller.ts
  api/express.ts
  api/middleware/globalErrorHandler.ts
  api/middleware/index.ts
  api/package.json
  api/public/global.yaml
  api/public/routeDocs/health.yaml
  api/public/routeDocs/responses/responses.yaml
  api/public/stylesheets/style.css
  api/routes/health-router.ts
  api/routes/index.js
  api/routes/index.ts
  api/routes/users.js
  api/server.ts
  api/tsconfig.json
  api/views/error.jade
  api/views/index.jade
  api/views/layout.jade
Labels: Backend

#57 SET-143: Gut check for deploy values.
  .github/helpers/deploy.sh
  .github/workflows/api-build-deploy.yaml
  openshift/templates/set-api-dc-template.yaml
Labels: GitHub Actions

#58 SET-143: Hard-code deploy namespace value
  .github/helpers/deploy.sh
Labels: GitHub Actions

#59 Update deploy.sh
  .github/helpers/deploy.sh
Labels: GitHub Actions

#60 SET-143: Pass in correct SA token for deploy script.
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#65 SET-143: Push a built API image instead of development image.
  .github/workflows/api-build-deploy.yaml
  api/.docker/Dockerfile.prod
  docker-compose.prod.yaml
Labels: GitHub Actions

#68 SET-143: PR build prod API image.
  .github/workflows/pr-image-build-api.yaml
Labels: GitHub Actions

#69 [SET-143] test api build-deploy
  api/middleware/globalErrorHandler.ts
Labels: Backend

#70 [SET-143] Testing Workflow
  api/middleware/globalErrorHandler.ts
Labels: Backend

#71 [SET-143] Added comment for test
  api/.docker/Dockerfile.prod
  api/middleware/globalErrorHandler.ts
Labels: Backend

#75 [SET-160] Test API workflow
  api/middleware/globalErrorHandler.ts
Labels: Backend

#73 [Set-145] API Test
  api/express.ts
  api/server.ts
Labels: Backend

#76 [SET-145]- Eslint rule disabled
  api/server.ts
Labels: Backend

#77 [Set-145] API Test
  api/server.ts
Labels: Backend

#78 [SET-145] API Health endpoint
  api/express.ts
  api/server.ts
Labels: Backend

#79 SET-161: Frontend Deployment
  .github/workflows/app-build-deploy.yaml
  docker-compose.prod.yaml
  frontend/.docker/Dockerfile.prod
  frontend/nginx.conf
  openshift/templates/set-app-dc-template.yaml
Labels: GitHub Actions, Frontend

#81 SET-161: Fix deploy workflow token name
  .github/workflows/app-build-deploy.yaml
Labels: GitHub Actions

#87 SET-166: Remove deploy script variables
  .github/helpers/deploy.sh
Labels: GitHub Actions

#88 SET-166: Add '|' to deploy.sh command
  .github/helpers/deploy.sh
Labels: GitHub Actions

#90 SET-165: Fix nginx.conf
  frontend/nginx.conf
Labels: Frontend

#91 [SET-167] Add POSTGRES env
  .env.template
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions, Environment Variables

#96 [SET-185] Revert from nest to express api
  api/.docker/Dockerfile.dev
  api/.docker/Dockerfile.prod
  api/.eslintrc.cjs
  api/.eslintrc.js
  api/.gitignore
  api/.prettierrc
  api/.prettierrc.cjs
  api/README.md
  api/config/corsConfig.ts
  api/config/index.ts
  api/config/rateLimitConfig.ts
  api/config/swaggerConfig.ts
  api/controllers/health-controller.ts
  api/express.ts
  api/middleware/globalErrorHandler.ts
  api/middleware/index.ts
  api/nest-cli.json
  api/package.json
  api/public/global.yaml
  api/public/routeDocs/health.yaml
  api/public/routeDocs/responses/responses.yaml
  api/routes/health-router.ts
  api/routes/index.ts
  api/server.ts
  api/src/app.controller.spec.ts
  api/src/app.controller.ts
  api/src/app.module.ts
  api/src/app.service.ts
  api/src/main.ts
  api/test/app.e2e-spec.ts
  api/test/jest-e2e.json
  api/tsconfig.build.json
  api/tsconfig.json
Labels: Backend

#99 [SET-186] Prisma Set Up
  .gitignore
  api/.docker/Dockerfile.dev
  api/.env.template
  api/controllers/inquiry-controller.ts
  api/express.ts
  api/package.json
  api/prisma/migrations/20231017225658_first/migration.sql
  api/prisma/migrations/20231017232911_second/migration.sql
  api/prisma/migrations/20231018214457_three/migration.sql
  api/prisma/migrations/migration_lock.toml
  api/prisma/schema.prisma
  api/prisma/seed.ts
  api/routes/index.ts
  api/routes/inquiry-router.ts
  api/start.sh
  api/utils/httpResponse.ts
  docker-compose.dev.yaml
Labels: Backend, Environment Variables

#97 SET-189: API Build Deploy
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#98 SET-190: Frontend Build Deploy
  .github/workflows/app-build-deploy.yaml
Labels: GitHub Actions

#100 SET-191: Add DATABASE_URL Env. Variable
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#101 [SET-192] Updated prod dockerfile
  api/.docker/Dockerfile.dev
  api/.docker/Dockerfile.prod
  api/package.json
  api/prisma/seed.ts
  api/startDev.sh
  api/startProd.sh
Labels: Backend

#102 SET-193: Fix API npm perms
  api/.docker/Dockerfile.prod
  api/prisma/seed.ts
Labels: Backend

#109 [SET-192] Added directory lists
  api/.docker/Dockerfile.prod
  api/startProd.sh
Labels: Backend

#110 [SET-192] Updated dockerfile
  api/.docker/Dockerfile.prod
  api/startProd.sh
Labels: Backend

#111 [SET-195] Removed seeding for testing
  api/package.json
  api/prisma/seed.mjs
  api/startProd.sh
Labels: Backend

#112 [SET-192] Removed comments from startProd
  api/startProd.sh
Labels: Backend

#113 [SET-192] .sh issue fix
  api/startProd.sh
Labels: Backend

#114 [SET-192] Updated dockerfile.prod
  api/.docker/Dockerfile.prod
  api/startProd.sh
Labels: Backend

#115 [SET-192] Updated CMD in dockerfile
  api/.docker/Dockerfile.prod
  api/startProd.sh
Labels: Backend

#117 [SET-192] Fixed issue in startProd.sh and updated dockerfile
  api/.docker/Dockerfile.prod
  api/startProd.sh
Labels: Backend

#118 [SET-192] Changed to npm run start
  api/startProd.sh
Labels: Backend

#121 [SET-192] Removed call to seed for now
  api/startDev.sh
Labels: Backend

#122 [SET-192] Commented out seed command for now
  api/startDev.sh
  api/startProd.sh
Labels: Backend

#123 SET-197: API Units Tests Workflow
  .github/helpers/test-config.yaml
  .github/workflows/pr-api-unit-tests.yaml
Labels: GitHub Actions

#126 SET-199: Add registry-user & registry-password inputs to Docker Scout
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#127 SET-199: Use docker-username & docker-password for Docker Scout
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#128 SET-199: Try supplying GITHUB_TOKEN to Docker scout
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#129 SET-199: Provide Docker Hub creds for Scout usage
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#130 SET-199: Fix docker creds key typos
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#131 SET-16: Add Docker Scout to app-build-deploy
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/app-build-deploy.yaml
Labels: GitHub Actions

#132 SET-22: Docker Scout only on PR
  .github/workflows/api-build-deploy.yaml
  .github/workflows/app-build-deploy.yaml
Labels: GitHub Actions

#135 [SET-30] Prisma Windows Dev
  api/prisma/schema.prisma
Labels: Backend

#136 [SET-17] Keycloak
  .DS_Store
  api/express.ts
  api/package.json
  docker-compose.dev.yaml
  frontend/nginx.conf
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/vite.config.ts
  package.json
Labels: Backend, Frontend

#137 SET-32: Update API env mapping in deploy workflow
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#138 [SET-33] Openshiftfix
  frontend/nginx.conf
Labels: Frontend

#140 SET-5, SET-11, SET-12, SET-13 create home page, Header component, and Footer Component
  README.md
  frontend/.eslintrc.cjs
  frontend/.npmrc
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/logo.png
  frontend/src/components/Button.tsx
  frontend/src/components/Dialog.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/main.tsx
  frontend/src/pages/Home.tsx
  frontend/src/styles.ts
  frontend/tsconfig.json
Labels: Frontend

#141 [SET-33] Cors Disabled
  api/express.ts
Labels: Backend

#142 SET-35 fixed margin
  frontend/index.html
Labels: Frontend

#144 [SET-33] Nginx Fix
  .github/workflows/api-build-deploy.yaml
  .github/workflows/pr-image-build-api.yaml
  api/.docker/Dockerfile.prod
  api/express.ts
  api/package.json
  docker-compose.prod.yaml
  frontend/nginx.conf
Labels: GitHub Actions, Backend, Frontend

#145 SET-39: Fix API build-deploy workflow
  .github/workflows/api-build-deploy.yaml
Labels: GitHub Actions

#148 SET-42: Refactor Docker Scout Implementation
  .github/workflows/api-build-deploy.yaml
  .github/workflows/app-build-deploy.yaml
  .github/workflows/pr-image-build-api.yaml
  .github/workflows/pr-image-build-app.yaml
Labels: GitHub Actions

#151 [SET-31] User Model Update
  api/prisma/migrations/20231030154350_fourth/migration.sql
  api/prisma/migrations/20231030160418_/migration.sql
  api/prisma/schema.prisma
Labels: Backend

#152 [SET-43] User Services
  api/config/keycloakConfig.ts
  api/controllers/user-controller.ts
  api/express.ts
  api/prisma/data.mjs
  api/prisma/seed.mjs
  api/routes/index.ts
  api/routes/user-router.ts
  api/types/User.ts
  api/types/index.ts
  api/utils/activateUser.ts
  api/utils/httpResponse.ts
Labels: Backend

#153 [SET-44] Inquiry CRUD Operations
  api/controllers/inquiry-controller.ts
  api/controllers/user-controller.ts
  api/express.ts
  api/prisma/data.mjs
  api/prisma/seed.mjs
  api/routes/inquiry-router.ts
Labels: Backend
