Repository bcgov/citz-imb-salary-estimate-tool, pull requests merged in 2023-11, with the labels that each got.

#143 SET-36 Create Data hook for Hiring Manager Inquiry
  .env.template
  api/.npmrc
  api/controllers/user-controller.ts
  api/package.json
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/dialog/Dialog.tsx
  frontend/src/components/error/Error.tsx
  frontend/src/components/index.ts
  frontend/src/components/loading/Loading.tsx
  frontend/src/components/table/TableContainer.tsx
  frontend/src/components/tablecells/DateCell.tsx
  frontend/src/components/tablecells/StatusCell.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAPI/fetchAPI.ts
  frontend/src/hooks/useAPI/useAPI.ts
  frontend/src/hooks/useDataFactory/useData.Factory.ts
  frontend/src/hooks/useInquiry/columns.tsx
  frontend/src/hooks/useInquiry/useInquiry.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/Inquiry.tsx
  frontend/src/pages/index.ts
  frontend/src/types/Inquiry.d.ts
  frontend/src/types/State.ts
  frontend/src/types/index.ts
Labels: Backend, Frontend, Environment Variables

#155 [SET-46] Update Docs
  api/config/swaggerConfig.ts
  api/controllers/inquiry-controller.ts
  api/docs/global.yaml
  api/docs/routeDocs/health.yaml
  api/docs/routeDocs/inquiry.yaml
  api/docs/routeDocs/responses/responses.yaml
  api/docs/routeDocs/user.yaml
  api/docs/schemaDocs/Inquiry-Schema.yaml
  api/docs/schemaDocs/User-Schema.yaml
  api/routes/inquiry-router.ts
Labels: Backend

#156 [SET-50] Added GET to the inquiry/:id route
  api/controllers/inquiry-controller.ts
  api/docs/routeDocs/inquiry.yaml
  api/routes/inquiry-router.ts
Labels: Backend

#158 [SET-25] API Testing
  api/controllers/inquiry-controller.ts
  api/jest.config.ts
  api/package.json
  api/routes/inquiry-router.ts
  api/tests/integration/api-health.test.js
  api/tests/integration/api-inquiry.test.js
  api/tests/integration/api-user.test.js
  package.json
Labels: Backend

#160 [SET-51] Updated Keycloak Packages
  api/config/keycloakConfig.ts
  api/controllers/user-controller.ts
  api/express.ts
  api/package.json
  api/utils/activateUser.ts
  frontend/package.json
  frontend/src/main.tsx
  frontend/src/pages/Home.tsx
Labels: Backend, Frontend

#162 Set 48 - Add unit testing to frontend
  frontend/.gitignore
  frontend/__mocks__/fileMock.ts
  frontend/jest.config.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/Footer/Footer.test.tsx
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Navbar/Navbar.test.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/buttons/AuthenticationButton.test.tsx
  frontend/src/components/buttons/AuthenticationButton.tsx
  frontend/src/components/buttons/Button.test.tsx
  frontend/src/components/buttons/Button.tsx
  frontend/src/components/dialogs/AuthenticationDialog.test.tsx
  frontend/src/components/dialogs/AuthenticationDialog.tsx
  frontend/src/components/dialogs/Dialog.test.tsx
  frontend/src/components/dialogs/Dialog.tsx
  frontend/src/components/dialogs/ErrorDialog.tsx
  frontend/src/components/dialogs/errorDialog.test.tsx
  frontend/src/components/index.ts
  frontend/src/components/loading/Loading.test.tsx
  frontend/src/components/table/TableContainer.test.tsx
  frontend/src/components/table/TableContainer.tsx
  frontend/src/components/tablecells/DateCell.test.tsx
  frontend/src/components/tablecells/DateCell.tsx
  frontend/src/components/tablecells/StatusCell.test.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAPI/fetchAPI.test.ts
  frontend/src/hooks/useAPI/fetchAPI.ts
  frontend/src/hooks/useAPI/useAPI.test.ts
  frontend/src/hooks/useAPI/useAPI.ts
  frontend/src/hooks/useAuthentication/useAuthentication.test.ts
  frontend/src/hooks/useAuthentication/useAuthentication.ts
  frontend/src/hooks/useDataFactory/useData.Factory.test.ts
  frontend/src/hooks/useDataFactory/useData.Factory.ts
  frontend/src/hooks/useInquiry/inquiry.columns.tsx
  frontend/src/hooks/useInquiry/useInquiry.test.ts
  frontend/src/hooks/useInquiry/useInquiry.ts
  frontend/src/main.tsx
  frontend/src/pages/Home.test.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Inquiry.test.tsx
  frontend/src/pages/Inquiry.tsx
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Labels: Frontend

#163 Set 55 - Add Login button to navbar
  frontend/src/App.tsx
  frontend/src/components/Navbar/Navbar.test.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/buttons/AuthenticationButton.tsx
  frontend/src/pages/Home.test.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Inquiry.test.tsx
  frontend/src/pages/Inquiry.tsx
Labels: Frontend
