Repository bcgov/citz-imb-salary-estimate-tool, pull requests merged in 2024-01, with the labels that each got.

#183 Set-90-fix-linting-errors-and-module-aliases
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/buttons/AuthenticationButton/AuthenticationButton.tsx
  frontend/src/components/buttons/CloseButton/CloseButton.tsx
  frontend/src/components/buttons/ConfirmCancelButton/ConfirmCancelButton.tsx
  frontend/src/components/buttons/SubmitCancelButton/SubmitCancelButton.tsx
  frontend/src/components/dialogs/AuthenticationDialog/AuthenticationDialog.tsx
  frontend/src/components/dialogs/DeleteConfirmationDialog/DeleteConfirmationDialog.tsx
  frontend/src/components/dialogs/Dialog/Dialog.tsx
  frontend/src/components/dialogs/ErrorDialog/ErrorDialog.tsx
  frontend/src/components/dialogs/NewFormDialog/NewForm.Dialog.tsx
  frontend/src/components/dialogs/UpdateFormDialog/UpdateForm.Dialog.tsx
  frontend/src/components/dialogs/ViewFormDialog/ViewForm.Dialog.tsx
  frontend/src/components/fields/Field/Field.tsx
  frontend/src/components/fields/SelectField/SelectField.tsx
  frontend/src/components/fields/StatusField/StatusField.tsx
  frontend/src/components/fields/index.ts
  frontend/src/components/forms/Form.tsx
  frontend/src/components/stepper/StatusStepper.tsx
  frontend/src/components/tablecells/StatusCell/StatusCell.tsx
  frontend/src/hooks/useDataFactory/useData.Factory.ts
  frontend/src/hooks/useFormFactory/useForm.Factory.tsx
  frontend/src/hooks/useInquiry/inquiry.columns.tsx
  frontend/src/hooks/useInquiry/inquiry.fields.tsx
  frontend/src/hooks/useInquiry/inquiry.sections.tsx
  frontend/src/hooks/useInquiry/useInquiry.ts
  frontend/src/hooks/useTableFactory/useTable.Factory.tsx
  frontend/src/hooks/useUser/useUser.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/routes/PageRouter.tsx
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: Frontend

#185 [SET-60] Import Salary Data CSV
  .gitignore
  api/controllers/salary-data-controller.ts
  api/express.ts
  api/package.json
  api/routes/salary-data-router.ts
  frontend/package.json
  frontend/src/components/dialogs/UploadConfirmationDialog/UploadConfirmation.Dialog.tsx
  frontend/src/components/dialogs/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAPI/useAPI.ts
  frontend/src/hooks/useDataFactory/onAppendBulkMutation.ts
  frontend/src/hooks/useDataFactory/useData.Factory.ts
  frontend/src/hooks/useFormFactory/useForm.Factory.tsx
  frontend/src/hooks/useSalaryData/salaryData.columns.tsx
  frontend/src/hooks/useSalaryData/useSalaryData.ts
  frontend/src/hooks/useTableFactory/useTable.Factory.tsx
  frontend/src/hooks/useUpload/useUpload.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/types/SalaryData.d.ts
  frontend/src/types/index.ts
  frontend/src/utils/UploadSalaryData.tsx
Labels: Backend, Frontend

#184 Set-89-abstract-factories
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/src/api/api.factory/api.class.ts
  frontend/src/api/api.factory/api.factory.ts
  frontend/src/api/apiCall.service/apiCall.service.ts
  frontend/src/api/apiPayload.service/apiPayload.service.ts
  frontend/src/api/index.ts
  frontend/src/hooks/useAPI/callAPI.test.ts
  frontend/src/hooks/useAPI/callAPI.ts
  frontend/src/hooks/useAPI/useAPI.test.ts
  frontend/src/hooks/useAPI/useAPI.ts
  frontend/src/hooks/useDataFactory/onAppendBulkMutation.ts
  frontend/src/hooks/useDataFactory/onAppendMutation.ts
  frontend/src/hooks/useDataFactory/onDeleteMutation.ts
  frontend/src/hooks/useDataFactory/onUpdateMutation.ts
  frontend/src/hooks/useDataFactory/useData.Factory.ts
  frontend/vite.config.ts
Labels: Frontend

#186 [SET-67] Returning proper inquiries
  api/express.ts
  api/package.json
  api/routes/health-router.ts
  api/routes/inquiry-router.ts
  api/routes/salary-data-router.ts
  api/routes/user-router.ts
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/src/hooks/useDataFactory/onAppendMutation.ts
  frontend/src/hooks/useInquiry/inquiry.fields.tsx
  frontend/src/hooks/useInquiry/useInquiry.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Login/Login.tsx
Labels: Backend, Frontend

#187 SET-72: Initialize playwright for e2e testing
  .gitignore
  e2e/.env-template
  e2e/.eslintignore
  e2e/.eslintrc.cjs
  e2e/.prettierignore
  e2e/.prettierrc
  e2e/README.md
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/authorized.spec.ts
  e2e/tests/utils/auth/admAuth.ts
  e2e/tests/utils/auth/hmAuth.ts
  e2e/tests/utils/auth/logout.ts
  e2e/tests/utils/auth/shrAuth.ts
  e2e/tests/utils/env/env.ts
  e2e/tests/utils/index.ts
  e2e/tests/utils/uid/uid.ts
  e2e/tsconfig.json
Labels: Environment Variables

#190 [SET-80] Add Ministry Tab to home page
  api/controllers/ministry-controller.ts
  api/docs/routeDocs/ministry.yaml
  api/docs/schemaDocs/Ministry.yaml
  api/express.ts
  api/prisma/data.mjs
  api/prisma/migrations/20240110234936_/migration.sql
  api/prisma/schema.prisma
  api/prisma/seed.mjs
  api/routes/index.ts
  api/routes/ministry-router.ts
  api/tests/integration/api-ministry-data.test.js
  frontend/src/hooks/index.ts
  frontend/src/hooks/useMinistry/ministry.columns.tsx
  frontend/src/hooks/useMinistry/ministry.fields.tsx
  frontend/src/hooks/useMinistry/ministry.sections.tsx
  frontend/src/hooks/useMinistry/useMinistry.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/types/Ministry.d.ts
  frontend/src/types/index.ts
Labels: Backend, Frontend

#191 SET-83: add experience tab to home page
  frontend/src/hooks/index.ts
  frontend/src/hooks/useExperience/experience.columns.tsx
  frontend/src/hooks/useExperience/experience.fields.tsx
  frontend/src/hooks/useExperience/experience.sections.tsx
  frontend/src/hooks/useExperience/useExperience.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/types/Experience.d.ts
  frontend/src/types/index.ts
Labels: Frontend

#192 SET-47: Update image to remove vulnerabilities
  .github/workflows/pr-image-build-api.yaml
  .github/workflows/pr-image-build-app.yaml
  api/.docker/Dockerfile.dev
  api/.docker/Dockerfile.prod
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  frontend/.docker/Dockerfile.dev
  frontend/.docker/Dockerfile.prod
Labels: GitHub Actions

#193 SET-97: Update API Unit Test Workflow
  .github/helpers/test-config.yaml
  .github/workflows/pr-api-unit-tests.yaml
Labels: GitHub Actions

#194 Added npm dep workflow and supporting files
  .github/config/dep-report.json5
  .github/helpers/create-npm-dep-report-issues.js
  .github/helpers/create-npm-dep-report.js
  .github/helpers/github-api/create-and-close-existing-issue.js
  .github/helpers/github-api/github-api-requests.js
  .github/helpers/parse-json5-config.js
  .github/helpers/parse-npm-deps.js
  .github/workflows/npm-dep-report.yaml
Labels: GitHub Actions

#195 Updated NPM Dep Report
  .github/helpers/create-npm-dep-report.js
Labels: GitHub Actions

#197 SET 98: create e2e test Github actions workflow
  .github/config/dep-report.json5
  .github/helpers/create-npm-dep-report.js
  .github/helpers/parse-npm-deps.js
  .github/labeler.yaml
  .github/workflows/e2e-test.yaml
Labels: GitHub Actions

#198 [SET-101] Fix Unauthorized Messages
  api/prisma/data.mjs
  api/prisma/seed.mjs
  frontend/.eslintrc.cjs
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/tabs/ExperienceTab.tsx
  frontend/src/pages/tabs/InquiryTab.tsx
  frontend/src/pages/tabs/MinistryTab.tsx
  frontend/src/pages/tabs/SalaryDataTab.tsx
  frontend/src/pages/tabs/UserTab.tsx
  frontend/src/pages/tabs/index.ts
Labels: Backend, Frontend

#199 SET-98: create e2e test Github actions workflow
  .github/helpers/create-npm-dep-report.js
  .github/helpers/parse-npm-deps.js
  .github/workflows/e2e-test.yaml
Labels: GitHub Actions

#196 SET-105: Fix API unit tests workflow
  .github/workflows/pr-api-unit-tests.yaml
Labels: GitHub Actions

#200 SET-98: create e2e test Github actions workflow
  .github/config/dep-report.json5
  .github/helpers/create-npm-dep-report.js
  .github/helpers/parse-npm-deps.js
  .github/workflows/e2e-test.yaml
Labels: GitHub Actions

#205 SET-106: API Test Workflow yq
  .github/workflows/pr-api-unit-tests.yaml
Labels: GitHub Actions
